@tailwind base;

h1 {
	@apply text-2xl font-bold;
}
h2 {
	@apply text-xl font-bold;
}
h3 {
	@apply text-lg font-bold;
}
h4 {
	@apply text-base font-bold;
}
h5 {
	@apply text-sm font-bold;
}

@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	background-color: white;
}
